# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [2]:
import pandas as pd
from zipfile import ZipFile
# import time
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

In [3]:
!wget https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/homeworks/Data.zip

--2022-02-09 15:36:13--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip.5’

Data.zip.5          100%[===================>]  16.33K  --.-KB/s    in 0.001s

2022-02-09 15:36:13 (13.2 MB/s) - ‘Data.zip.5’ saved [16727/16727]

In [4]:
zf = ZipFile('Data.zip')

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [5]:
dfs_marks = [pd.read_csv(zf.open(f), sep=',') for f in zf.namelist()[1:] if f.split('_')[1] == "marks"] # пч первый элемент в zf.namelist() - название папки  
dfs_info = [pd.read_csv(zf.open(f), sep=',') for f in zf.namelist()[1:] if f.split('_')[1] == "info"]
(df_info, df_marks) = (pd.concat(dfs_info), pd.concat(dfs_marks))
df = pd.merge(df_info, df_marks, on = 'index', how='outer')
df.head(20)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50
10,10,male,group C,associate's degree,standard,none,group1,58,54,52
11,11,male,group D,associate's degree,standard,none,group1,40,52,43
12,12,female,group B,high school,standard,none,group1,65,81,73
13,13,male,group A,some college,standard,completed,group1,78,72,70
14,14,female,group A,master's degree,standard,none,group1,50,53,58
15,15,female,group C,some high school,standard,none,group1,69,75,78
16,16,male,group C,high school,standard,none,group1,88,89,86
17,17,female,group B,some high school,free/reduced,none,group1,18,32,28
18,18,male,group C,master's degree,free/reduced,completed,group1,46,42,46
19,19,female,group C,associate's degree,free/reduced,none,group1,54,58,61

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [6]:
df.drop('index', axis = 1, inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [7]:
print(df.shape[0], 'rows &', df.shape[1], 'columns')
# or just df.shape

1000 rows & 9 columns

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [8]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [17]:
df.isna().any()

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
group                          False
math score                     False
reading score                  False
writing score                  False
dtype: bool

In [18]:
df.isnull().values.sum() > 0 # если пропущенные - имеется в виду Null

False

In [19]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [11]:
df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [12]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [13]:
set(df['lunch'])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [14]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}).head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [15]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [16]:
students = df.shape[0]

In [17]:
(df['math score'] >= passmark).sum()/students

0.865

In [18]:
(df[df['test preparation course'] == 'completed']['math score'] >= passmark).sum()/students

0.33

In [19]:
(df[(df['gender']=='female') & (df['test preparation course'] == 'none')]['math score'] < passmark).sum()/students

0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [15]:
%%time
df.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 6.26 ms, sys: 28.9 ms, total: 35.1 ms
Wall time: 97.1 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [21]:
%%time
df.groupby('parental level of education')['writing score'].min()

CPU times: user 3.55 ms, sys: 1.23 ms, total: 4.78 ms
Wall time: 5.53 ms

parental level of education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [23]:
%%time
groups_gr = set(df.to_dict('list')['race/ethnicity'])
means = []
for group in groups_gr:
    sum_score = 0
    count = 0
    for ind in df.index:
        if df['race/ethnicity'][ind] == group:
            sum_score += df['reading score'][ind]
            count += 1
    means.append(sum_score/count)
dictionary_gr = dict(zip(groups_gr, means))
dictionary_gr

CPU times: user 168 ms, sys: 4.67 ms, total: 172 ms
Wall time: 181 ms

{'group E': 73.02857142857142,
 'group B': 67.35263157894737,
 'group D': 70.03053435114504,
 'group C': 69.10344827586206,
 'group A': 64.67415730337079}

In [13]:
%%time
groups_ed = set(df.to_dict('list')['parental level of education'])
mins = []
for group2 in groups_ed:
    count = 0
    for ind in df.index:
        if df['parental level of education'][ind] == group2:
            if count == 0:
                minimum = df['writing score'][ind]
                count += 1
            else:
                if df['writing score'][ind] < minimum:
                    minimum = df['writing score'][ind]
    mins.append(minimum)
dictionary_ed = dict(zip(groups_ed, mins))
dictionary_ed

CPU times: user 156 ms, sys: 4.2 ms, total: 161 ms
Wall time: 170 ms

{"bachelor's degree": 38,
 "master's degree": 46,
 'some college': 19,
 "associate's degree": 35,
 'some high school': 10,
 'high school': 15}

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [25]:
pd.pivot_table(df, index=['gender', 'parental level of education'])

                                    math score  reading score  writing score
gender parental level of education
female associate's degree            65.250000      74.120690      74.000000
       bachelor's degree             68.349206      77.285714      78.380952
       high school                   59.351064      68.202128      66.691489
       master's degree               66.500000      76.805556      77.638889
       some college                  65.406780      73.550847      74.050847
       some high school              59.296703      69.109890      68.285714
male   associate's degree            70.764151      67.433962      65.405660
       bachelor's degree             70.581818      68.090909      67.654545
       high school                   64.705882      61.480392      58.539216
       master's degree               74.826087      73.130435      72.608696
       some college                  69.009259      64.990741      63.148148
       some high school              67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [26]:
df['Math_PassStatus'] = df['math score'].apply(lambda score: 'P' if score >= passmark else 'F')
df['Reading_PassStatus'] = df['reading score'].apply(lambda score: 'P' if score >= passmark else 'F')
df['Writing_PassStatus'] = df['writing score'].apply(lambda score: 'P' if score >= passmark else 'F')
math_pass = df[df['Math_PassStatus'] == 'P'].shape[0]
math_fail = students - math_pass

reading_pass = df[df['Reading_PassStatus'] == 'P'].shape[0]
reading_fail = students - reading_pass

writing_pass = df[df['Writing_PassStatus'] == 'P'].shape[0]
writing_fail = students - writing_pass

In [27]:
print(f'''math passed and math failed: {math_pass}, {math_fail}
writing passed and failed: {writing_pass}, {writing_fail}
reading passed and failed: {reading_pass}, {reading_fail}''')

math passed and math failed: 865, 135
writing passed and failed: 886, 114
reading passed and failed: 910, 90

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [28]:
#%%time
df['OverAll_PassStatus'] = (df['Math_PassStatus'] + df['Reading_PassStatus'] + df['Writing_PassStatus']).apply(lambda x: 'P' if x == 'PPP' else 'F')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

In [29]:
#%%time
# или (но он чуть медленнее)
df['OverAll_PassStatus'] = (df['Math_PassStatus'].map({"P":1, "F":0}) + df['Reading_PassStatus'].map({"P":1, "F":0}) +  df['Writing_PassStatus'].map({"P":1, "F":0})).apply(lambda x: 'P' if x == 3 else 'F')
df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
827,female,group C,some high school,standard,none,group9,65,69,76,P,P,P,P
424,male,group B,some college,free/reduced,none,group5,41,39,34,F,F,F,F
631,male,group B,high school,standard,none,group7,79,60,65,P,P,P,P
854,male,group C,some high school,standard,none,group9,62,64,55,P,P,P,P
553,male,group D,some college,free/reduced,none,group6,77,62,64,P,P,P,P

In [30]:
#количество студентов, которые сдали все экзамены
df[df['OverAll_PassStatus'] == 'P'].shape[0]

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [31]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    if 80 <= average_mark < 90:
        return 'B'
    if 70 <= average_mark < 80:
        return 'C'
    if 60 <= average_mark < 70:
        return 'D'
    if 50 <= average_mark < 60:
        return 'E'
    if average_mark < 50:
        return 'F'

df['Grade'] = df.mean(axis=1).apply(lambda x: GetGrade(x))
df.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
154,male,group D,some high school,standard,none,group2,62,67,61,P,P,P,P,D
249,male,group C,high school,standard,none,group3,68,60,53,P,P,P,P,D
63,female,group C,associate's degree,standard,none,group1,69,80,71,P,P,P,P,C
831,female,group C,bachelor's degree,free/reduced,completed,group9,74,86,89,P,P,P,P,B
557,male,group C,master's degree,free/reduced,none,group6,61,67,66,P,P,P,P,D
468,female,group A,high school,free/reduced,completed,group5,77,88,85,P,P,P,P,B
225,female,group E,master's degree,free/reduced,none,group3,45,56,54,F,P,P,F,E
328,male,group C,associate's degree,standard,completed,group4,82,75,77,P,P,P,P,C
845,male,group E,master's degree,standard,none,group9,90,85,84,P,P,P,P,B
546,female,group A,some high school,standard,completed,group6,92,100,97,P,P,P,P,A

In [49]:
df.groupby('Grade').size()

Grade
A     52
B    146
C    261
D    256
E    182
F    103
dtype: int64